{% block content %}
    <div class="alert alert-success">
        HomeWork <strong>#5</strong>
    </div>
    {% for task in tasks %}
        <div class="alert alert-success">
            <strong>{{ task }}</strong>
        </div>
    {% endfor %}
{% endblock %}